    body{
    font-family: sans-serif;
    }
    #headH1{
        color: rgb(82,150,97);
    }
    .stylesheets-group {
        display: flex;
        flex-direction: row;
    }
    .blk {
        border: 1px solid #ccc;
        background-color: rgb(85,85,85);
        margin: 5px;
        color: white;
        width: 150px;
        height: 30px;
        text-align: center;
    }
    #st1:hover, #st2:hover, #st3:hover, #st4:hover, #st0:hover{
        background-color: rgb(82,150,97);
        transition: 0.5s;
        
    }
    .sameH1{
        color: rgb(82,150,97);
    }
    .link{
        color: black;
    }
    #NS{
        color: rgb(82,150,97);
    }
    #NSlink{
        color: black;
    }
    .sidebH3{
        color: rgb(82,150,97);
    }
    .sideb{
        background-color: rgb(241,241,241);
        border: 1px solid rgba(128, 128, 128, 0.5);
        width: 500px;
    }
    #lastp {
        max-width: 600px; /* Limits the width of the paragraph */
    }
   
